<div class="container mt-3">
    <form method="post" #frm="ngForm" (ngSubmit)="excluir(frm)">
        
        <div class="mb-3 mt-3">
          <label for="nome" class="form-label">Nome:</label>
          <input disabled type="text" class="form-control" id="nome" placeholder="Informe o nome " name="nome" [(ngModel)]="vendedor.nome">
        </div>
        
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input disabled type="text" class="form-control" id="email" placeholder="Informe o email" name="email" 
            [(ngModel)]="vendedor.email">
          </div>
    
          <div class="mb-3 mt-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input disabled type="text" class="form-control" id="telefone" placeholder="Informe o telefone" 
            name="telefone" [(ngModel)]="vendedor.telefone">
          </div>

        <div class="form-check mb-3">
          <label class="form-check-label">
            <input disabled class="form-check-input" type="checkbox" name="ativo" id="ativo" [(ngModel)]="vendedor.ativo" >Ativo
          </label>
        </div>
    
        <a href="vendedor" class="btn btn-primary">Voltar</a> &nbsp;
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
      </form>
    
    </div>
