<div class="container mt-3">
<h2 id='title'>Lance</h2>

<p><a class="btn btn-dark" href="lance/incluir" role="button">Novo lance</a></p>

<table class="table table-dark table-striped">
     <thead>
        <tr>
            <th>id</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Ativo</th>
            <th>idComprador</th>
            <th>idLeilao</th>
            <th>idAnimal</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let lance of lances">
            <td>{{lance.id}}</td>
            <td>{{lance.data}}</td>
            <td>{{lance.valor}}</td>
            <td>{{lance.ativo}}</td>
            <td>{{lance.idComprador}}</td>
            <td>{{lance.idLeilao}}</td>
            <td>{{lance.idAnimal}}</td>
            <td> <a href="lance/alterar/{{lance.id}}" class="btn btn-warning">Alterar</a>&nbsp;
              <a href="lance/excluir/{{lance.id}}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div id="rodape">Todos os direitos reservados</div>
