<div class="container mt-3">
  <h1 id="title">Alterar Lance</h1>
  <form method="post" #frm="ngForm" (ngSubmit)="alterar(frm)">

      <div class="mb-3 mt-3">
        <label for="data" class="form-label">Data:</label>
        <input type="text" class="form-control" id="data" placeholder="Informe a data " name="data" [(ngModel)]="lance.data">
      </div>

      <div class="mb-3 mt-3">
          <label for="valor" class="form-label">Valor:</label>
          <input type="text" class="form-control" id="valor" placeholder="Informe o valor" name="valor"
          [(ngModel)]="lance.valor">
        </div>

        <div class="mb-3 mt-3">
          <label for="idComprador" class="form-label">Comprador:</label>
          <select [(ngModel)]="lance.idComprador" id="idComprador" name="idComprador" class="form-select" >
            <option *ngFor="let comprador of compradors" value="{{comprador.id}}">{{comprador.nome}}</option>
        </select>
        </div>

        <div class="mb-3 mt-3">
          <label for="idLeilao" class="form-label">Leilao:</label>
          <select [(ngModel)]="lance.idLeilao" id="idLeilao" name="idLeilao" class="form-select" >
            <option *ngFor="let leilao of leilaos" value="{{leilao.id}}">{{leilao.nome}}</option>
        </select>
        </div>

        <div class="mb-3 mt-3">
          <label for="idAnimal" class="form-label">Animal:</label>
          <select [(ngModel)]="lance.idAnimal" id="idAnimal" name="idAnimal" class="form-select" >
              <option *ngFor="let animal of animais" value="{{animal.id}}">{{animal.nome}}</option>
          </select>
        </div>

      <div class="form-check mb-3">
        <label class="form-check-label">
          <input disabled class="form-check-input" type="checkbox" name="ativo" id="ativo" [(ngModel)]="lance.ativo" >Ativo
        </label>
      </div>

      <button type="submit" id="alterar"class="btn btn-primary">Enviar</button>
    </form>

  </div>
  <div id="rodape">Todos os direitos reservados</div>
