<div class="container mt-3">
    <h2>Lista de Leilões</h2>
    <p><a href="leilao/incluir" class="btn btn-success">Incluir Leilão</a></p>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Data</th>
          <th>Nome</th>
          <th>Ativo</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leilao of leiloes">
          <td>{{leilao.id}}</td>
          <td>{{leilao.data}}</td>
          <td>{{leilao.nome}}</td>
          <td>{{leilao.ativo}}</td>
          <td> <a href="leilao/alterar/{{leilao.id}}" class="btn btn-warning">Alterar</a>&nbsp;
            <a href="leilao/excluir/{{leilao.id}}" class="btn btn-danger">Excluir</a> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
