<div class="container mt-3">
    <form method="post" #frm="ngForm" (ngSubmit)="incluir(frm)">

        <div class="mb-3 mt-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Informe o nome " name="nome"
                [(ngModel)]="vendedor.nome">
        </div>

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Informe o email" name="email"
                [(ngModel)]="vendedor.email">
        </div>

        <div class="mb-3 mt-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" placeholder="Informe o telefone" name="telefone"
                [(ngModel)]="vendedor.telefone">
        </div>

        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="ativo" id="ativo"
                    [(ngModel)]="vendedor.ativo">Ativo
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>