<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Sistema de Leilão</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="animal">Animal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="veterinario">Veterinario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vendedor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="comprador">Comprador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Leilão</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="lance">Lance</a>
      </li>


    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

<br />
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    todos os direitos reservados
  </div>
</nav>