<div class="container mt-3">
    <h2>Lista de Animais</h2>
    <p><a href="animal/incluir" class="btn btn-success">Incluir Animal</a></p>

    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Registro</th>
          <th>Preço</th>
          <th>Raça</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animais">
          <td>{{animal.id}}</td>
          <td>{{animal.nome}}</td>
          <td>{{animal.registro}}</td>
          <td>{{animal.preco}}</td>
          <td>{{animal.raca}}</td>

        </tr>
      </tbody>
    </table>
  </div>
