<div class="container mt-3">
    <h2 id ="title">Lista de Compradores</h2>
    <p><a href="comprador/incluir" class="btn btn-success">Incluir Comprador</a></p>

    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ativo</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comprador of compradores">
          <td>{{comprador.id}}</td>
          <td>{{comprador.nome}}</td>
          <td>{{comprador.email}}</td>
          <td>{{comprador.telefone}}</td>
          <td>{{comprador.ativo}}</td>
          <td> <a href="comprador/alterar/{{comprador.id}}" class="btn btn-warning">Alterar</a>&nbsp;
            <a href="comprador/excluir/{{comprador.id}}" class="btn btn-danger">Excluir</a> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id ="rodape">todos os direitos reservados</div>