<div class="container mt-3">
  <h1 id="title">Incluir Comprador</h1>
    <form method="post" #frm="ngForm" (ngSubmit)="incluir(frm)">
        
        <div class="mb-3 mt-3">
          <label for="nome" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="nome" placeholder="Informe o nome " name="nome" [(ngModel)]="comprador.nome">
        </div>
        
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Informe o email" name="email" 
            [(ngModel)]="comprador.email">
          </div>
    
          <div class="mb-3 mt-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" placeholder="Informe o telefone" 
            name="telefone" [(ngModel)]="comprador.telefone">
          </div>

        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="ativo" id="ativo" [(ngModel)]="comprador.ativo" >Ativo
          </label>
        </div>
    
        <button id="salvar" type="submit" class="btn btn-primary">Enviar</button>
      </form>
    
    </div>